<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改广告')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-advertising-edit" th:object="${advertising}">
        <input name="id" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告标题：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="title" id="title" th:field="*{title}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告内容：</label>
            <div class="col-sm-8">
                <textarea type="text" name="content" class="form-control" th:rows="5" th:field="*{content}"
                          placeholder="请输广告内容"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片：</label>
            <div class="col-sm-3">
                    <div id="thumbnails">
                        <div th:if="${not #strings.isEmpty(advertising.imageUrl)}">
                            <img th:src="${advertising.imageUrl}" style="max-width:120px;max-height:100px">
                            <a href="javascript:" onclick="clearImge(this)">x</a>
                            <div>
                                <a th:href="${advertising.imageUrl}" target="_blank" th:text="${advertising.name}"></a>
                            </div>
                        </div>
                    </div>
                <input class="form-control" id="imageUrl" type="hidden" name="imageUrl" th:field="*{imageUrl}"/>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-success" onclick="BrowseServer('Images:/cms/ADImages/', 'imageUrl');">
                    <i class="fa fa-plus"></i>选择
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">图片名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="name" id="name" th:field="*{name}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">图片跳转链接地址：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="jumpUrl" id="jumpUrl" th:field="*{jumpUrl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">排序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="sort" th:field="*{sort}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否显示：</label>
            <div class="col-sm-9">
                <div class="radio-box" th:each="dict : ${@dict.getType('cms_show_hide')}">
                    <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"
                           th:field="*{status}" th:checked="${dict.default}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea type="text" name="remark" class="form-control" th:rows="5" th:field="*{remark}"
                          placeholder="请输入文本"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: CKFinder-js"/>
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "cms/advertising";
    $(function () {

    })

    function BrowseServer(startupPath, updateId) {
        // 打开资源管理器对话框
        CKFinder.popup({
            // 模态框标题
            popupTitle:"请选择广告图片",
            // 设置浏览器窗口大小
            height: 557,
            width: 777,
            // 指定资源类型
            types: "Images",
            // 要显示的资源类型。默认情况下，CKFinder 显示所有可用的资源类型。如果资源类型属性 设置后，CKFinder 将仅显示指定的资源类型。
            resourceType: "Images",
            // 只读
            readOnly: true,
            // CKFinder的访问路径 (default = "/ckfinder/").
            basePath: ctx + 'ckfinder/',
            baseUrl: ctx + 'ckfinder/',
            // 打开的路径: "Type:/path/to/directory/"
            startupPath: startupPath,
            // 需要更新的字段的Id
            selectActionData: updateId,
            // 选择文件时调用的函数名称
            selectActionFunction:setFileField,
            // 选择缩略图时调用的函数名称
            selectThumbnailActionFunction:showThumbnails,
        });
    }

    //选择文件时调用
    function setFileField(fileUrl, data) {
        //自定义缩略图
        var sFileName = this.getSelectedFile().name;
        document.getElementById('thumbnails').innerHTML = '';
        document.getElementById('thumbnails').innerHTML +=
            '<div class="thumb">' +
            '<img src="' + fileUrl + '" style="max-width:120px;max-height:100px"/><a href="javascript:" onclick="clearImge(this);">×</a>' +
            '<div>' +
            '<a href="' + data["fileUrl"] + '" target="_blank">' + sFileName + '</a>' +
            '</div>' +
            '</div>';
        //更新表单imageUrl的值
        $("#imageUrl").val(data["fileUrl"]);
        //自动填充图片名称
        $("#name").val(sFileName);
    }

    //选择一个缩略图时将调用该函数
    function showThumbnails(fileUrl, data) {
        var sFileName = this.getSelectedFile().name;
        //每次选择清空原来的值
        document.getElementById('thumbnails').innerHTML = '';
        //重新添加缩略图
        document.getElementById('thumbnails').innerHTML +=
            '<div class="thumb">' +
            '<img src="' + fileUrl + '" style="max-width:120px;max-height:100px"/><a href="javascript:" onclick="clearImge(this);">×</a>' +
            '<div>' +
            '<a href="' + data["fileUrl"] + '" target="_blank">' + sFileName + '</a>' +
            '</div>' +
            '</div>';
        //更新表单imageUrl的值
        $("#imageUrl").val(data["fileUrl"]);
        //自动填充图片名称
        $("#name").val(sFileName);

        //它不需要返回任何值
        //当返回false时，CKFinder将不会自动关闭。
        return true;
    }

    //清除缩略图、图片路径
    function clearImge(eml) {
        document.getElementById('thumbnails').innerHTML = '';
        $("#imageUrl").val("");
        $("#name").val("");
    }

    $("#form-advertising-edit").validate({
        onkeyup: false,
        rules: {
            sort: {
                digits: true
            },
        },
        messages: {
            "name": {
                remote: "名称已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/editAdvertising", $('#form-advertising-edit').serialize());
        }
    }

    function doSubmit(index, layero) {
        var body = $.modal.getChildFrame(index);
        $.modal.close(index);
    }
</script>
</body>
</html>
